header {
    background-color: #1d3535;
    color: #e2e8f0;
    padding: 40px 20px;
    border-radius: 20px;
    border: 1px solid #ff7a59;
    display: center-block;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    padding-bottom: 3px solid #ff7a59;
    display: inline-block;
}

header p {
    font-size: 1.1rem;
    color: #a0aec0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

ul li {
    background-color: #1d3535;
    color: #e2e8f0;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid #ff7a59;
    display: inline-block;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #ff7a59;
    color: #1d3535
}

Main {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

Section {
    background-color: 1d3535;
    color: #e2e8f0;
    padding: 30px;
    border-radius: 12px;
    border-left: 5px solid #ff7a59
}

section h2 {
    margin-top: 0;
    color: #ff7a59;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #0f1c1c;
 color: #e2e8f0;

 /* Box Model Elements */
    margin: 40px auto;t
    padding: 20px;
    max-width: 800px;
}

#introduction {
    background-color: #162a2a;
    
    /* Box Model Elements */
    border-left: 5px solid #ff7a59;
    padding: 15px 25px;
    margin-bottom: 30px;
}

.hobby-card {
    background-color: #1d3535;

    /* Box Model Elements */
    border: 1px solid #ff7a59;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 6px;
}

/* Extra */
img {
  max-width: 100%;
  height: auto;         
  border-radius: 8px;
  margin: 20px 0;
}